<header id="site-header" class="container">
	<nav id="header-nav" class="row">
		<div class="col-xs-12 text-center">
			<a href="{{ site.baseurl }}/">
				<img id="brand-image" src="{{ "/images/logo.png" | prepend: site.baseurl }}" width="280" height="100" alt="{{ site.title }}"><h1 id="site-title">Let&iacute;cia Capel&atilde;o</h1>
			</a>
		</div>
    </nav>

	<div class="row text-center">
		{% include social-networks.html %}
		<div id="contact-info">
			<a href="tel:+5531991991543" class="phone"><span class="country-code">+55</span> (31) 99199-1543</a><br class="visible-xs"><span class="hidden-xs"> | </span><a href="mailto:contato@leticiacapelao.com" class="email">contato@leticiacapelao.com</a>
		</div>
	</div><!-- /#contact-info -->
</header>
