#site-footer {
	margin-top: 20px;
	font-family: $font-family-brand;
	@include box-shadow(inset 0 3px 3px rgba(0,0,0,.1));

	.cafe-do-love { color: $brand-info; }
	.cafe-do-logo { margin-top: -3px; }
}