// **********
// SITE HEADER
// **********
#brand-image {
    margin: 15px 0;
}

#site-title { display: none; }

#social-network {
	li {
		display: inline-block;
		margin-right: 2px;
		a {
			background: transparent center no-repeat;
			width: 32px;
			height: 32px;
			text-indent: -9999px;

			&.instagram { background-image: url(/images/social-instagram.png); }
			&.facebook { background-image: url(/images/social-facebook.png); }
		}
	}
}

#contact-info {
	margin: 15px 0;

	@media (max-width: $screen-xs-max) {
		.email { 
			font-size: 1.1em;
			display: block;
    		margin-top: 15px;
		}
		.phone { 
			margin-bottom: 10px;			

			@include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
			@include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-large, $line-height-base, $btn-border-radius-base);
			@include user-select(none);
		}
	}
}