// **********
// HOME PAGE STYLES
// **********

section.section {
	> div {
		@include box-shadow(0 3px 3px rgba(0,0,0,.3));
	}

	&.angelologia > div, &.ead > div {
		color: #fff;
		padding: 40px;

		@media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
			height: 520px;
		}

		@media (min-width: $screen-lg-min) {
			height: 440px;
		}
	}

	&.angelologia > div {
		@include gradient-vertical($brand-angelologia, darken($brand-angelologia, 10%));
	}

	&.ead {
		> div {
			@include gradient-vertical($brand-ead, darken($brand-ead, 10%));
		}

		@media (max-width: $screen-xs-max) {
			margin: 10px 0;
		}
	}

	&.about {
		div.photo {
			img {
				border-radius: 100%;
			}

			@media (min-width: $screen-sm-min) {
				position: absolute;
			}
		}

		> div {
			margin-top: 20px;
			padding-bottom: 20px;
			@include gradient-vertical($gray-lighter, #fff);
		}
	}

	&.contact {
		> div {
			margin-top: 20px;
			@include gradient-vertical($gray-lighter, #fff);
		}

		form {
			margin-top: 30px;

			@media (min-width: $screen-sm-min) {
		    	margin-top: 70px;
		    }
		}
	}
}