// **********
// HOME PAGE STYLES
// **********

section.section {
	> div {
		padding: 40px 20px;
		color: #fff;

		.btn {
			background: transparent;
			border: solid 2px #fff;

			&:hover, &:active {
				background-color: rgba(255, 255, 255, .1);
			}
		}
	}

	&.angelologia > div { @include gradient-vertical($brand-angelologia, darken($brand-angelologia, 10%)); }
	&.ead {
		> div { @include gradient-vertical($brand-ead, darken($brand-ead, 10%)); }

		@media (max-width: $screen-xs-max) {
			margin: 10px 0;
		}
	}
}