// **********
// HOME PAGE STYLES
// **********

section.section {
	> div {
		padding: 40px 20px;
		color: #fff;

		.btn {
			background: transparent;
			border: solid 2px #fff;
		}
	}

	&.angelologia > div { background: #824883; }
	&.ead {
		> div { background: #1B75BB; }

		@media (max-width: $screen-xs-max) {
			margin: 10px 0;
		}
	}
}